.header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    color: #141414;
    background-color: #EBEBEB;
}
.header h2{
    font-family: "Italiana", sans-serif;
    font-size: 24px;
}
.header .naveg{
    display: none;
}

.header ul{
    display: flex;
    gap: 24px;
}
li{
    list-style: none;
}
li a{
    color: #141414;
    display: block;
    position: relative;
    transition: .3s;
}
/* header li a:hover{
    padding: 0 5px;
} */
header li a::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #141414;
    margin-top: 4px;
    position: absolute;
    transition: 0.3s;
}
/* header li a:hover::after{
    width: 110%;
} */

/* navegacao */

.overlay{
    box-shadow: inset 0 630px 80px rgba(0, 0, 0, 0.6);
    width: 0;
    height: 0;
    z-index: 9;
    position: fixed;
    width: 0;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: .3s;
    backdrop-filter: blur(15px);
}

.overlay-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 150px;
    margin: 100px auto;
}

.overlay-content a{
    font-size: 24px;
    color: #EBEBEB;
    position: relative;
}

.overlay-content a:nth-child(2)::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('./imagens/icones/icons8-whatsapp.svg');
    background-image: url('../../cursoEsmalt/imagens/icones/icons8-whatsapp.svg');
    left: -12px;
    top: 5px;
}
.overlay-content a:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../../cursoEsmalt/imagens/icones/icons8-instagram.svg');
    left: -12px;
    top: 5px;
}


.overlay-content .overlayServicos a:nth-child(1)::before{
    content: "✳";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -4px;
    left: -12px;
}
.overlay-content .dropdown-menu a::before{
    display: none;
}

.closebtn{
    font-size: 45px;
    position: absolute;
    top: -3px;
    right: 16px;
    color: #EBEBEB;
}

@media(max-width: 1200px){
    .header{
        padding: 0 16px;
        height: 48px;
    }
}
@media(max-width: 700px){
    .header ul{
        display: none;
    }
    .header .naveg{
        display: inline-block;
    }
    .header .naveg button{
        border: none;
    }
    .header h2{
        font-size: 20px;
    }
}