.conheca-back {
    background-color: #474843;
    box-shadow: inset 0 -200px 0 #EBEBEB;
    margin-bottom: 31px;
  }
  
  .conheca {
    margin: 0 auto 42px auto;
    display: grid;
  }
  
  .conheca h1 {
    justify-self: center;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 64px;
    color: #EBEBEB;
  }
  
  .conheca .divisao {
    margin-bottom: 22px;
  }
  
  .conheca p {
    position: relative;
    margin-left: 20px;
    line-height: 26px;
    margin-bottom: 31px;
    color: #C5CFC6;
    font-size: 36px;
    line-height: 52px;
  }
  
  .conheca p::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 22px;
    width: 16px;
    height: 3px;
    background-color: #C5CFC6;
  }
  
  .conheca strong {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    font-size: 48px;
    margin-top: 42px;
  }
  .qmSouEu strong {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    font-size: 48px;
    margin-top: 42px;
  }

  @media(max-width: 1200px){
    .conheca{
      margin-left: 16px;
    }
  }
  
  /* === Responsivo === */
  @media (max-width: 700px) {
    .conheca{
      margin: 16px 16px 0 16px;
    }
    .imgcurso {
      width: 200px;
      height: 300px;
    }
    .conheca p{
      font-size: 14px;
      line-height: 24px;
    }
    .conheca h1{
      font-size: 24px;
    }
    .qmSouEu strong{
      font-size: 20px;
      margin-top: 0;
    }
    .conheca p::before{
      top: 10px;
    }

    .conheca-back{
      box-shadow: inset 0 -100px 0 #EBEBEB;
    }

    .carrossel-track{
      gap: 32px;
      margin-bottom: 0;
    }
  }
  

.servicos ul{
    display: flex;
    gap: 40px;
    max-width: max-content;
}

.servico-especifico{
    flex-shrink: 0;
    position: relative;
    max-width: max-content;
    max-width: 300px;
}

.servico-especifico img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: block;
    object-fit: cover;
}
@media(max-width: 700px){
    .servico-especifico{
        max-width: 200px;
    }
}

.duracao p, .duracao li{
  font-weight: bold;
}