@import "../global/css/style.css";
@import "./css/main.css";
@import "./css/conheca.css";
@import "./css/agradecer.css";
@import "./css/contar.css";

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}